body {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

h1 {
  text-align: center;
  color: #333;
}
h2 {
  text-align: center;
  color: #333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
  
form {
  width: 300px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.selectContainer {
  margin-bottom: 20px;
}

.selectContainer label {
  font-size: 16px;
  margin-bottom: 5px;
}

.selectContainer select {
  font-size: 14px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.fileInput {
  margin-bottom: 20px;
}

.fileInput input {
  display: none;
}

.fileInputLabel {
  display: inline-block;
  padding: 10px 15px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.fileInputLabel:hover {
  background-color: #45a049;
}

.submitButton {
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}

.errorContainer {
  font-size: 16px;
  color: red;
}

.loading-message {
  font-size: 16px;
  color: black;
  animation: blink 2s infinite;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
